/* li {
  color: red;
  border: 1px;
}

p {
  color: blue;
  border: 2px solid red;
}

div {
  background-color: aquamarine;
} */

/* .ceva {
  color: red;
}

#exe {
  border: 10px;
  color: pink;
}

#cevaID {
  color: chocolate;
}

.ceva2 {
  color: blue;
} */

/* 
#inregistreazaID{

  color: blue;
}

.inregistreazaClass {
  color: pink;
} */

/* .ceva h2 {
  color: red;
}

div > h2 {
  color: purple;
}

div,
h2 {
  color: mediumturquoise;
} */
